html, body, #root {
  height: 100%;
}
.App {
  height: inherit;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: linear-gradient(to right, #007BFF 0%, #33ccff 10%, #ff99cc 90%);
  color: white;
  margin-bottom: 5px;
}
.App-header h2 {
  float: left;
  padding-left: 10px
}
.header-buttons {
    float: right;
}
.header-buttons .btn {
    margin-right: 10px;
    margin-top: 7px;
}

.App-body {
    height: calc(100% - 51px);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
