.content-pane {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    margin-left: 10px;
    height: 100%;
}
.content-pane .form-group {
    position: relative;
    margin-bottom: 1.5rem;
}
  
.content-pane  .form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}
  
.content-pane .form-control:focus + .form-control-placeholder,
.content-pane .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}
  