.layout-pane {
    border: 1px dotted rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    min-height: 700px;
    position: relative;
    background: beige;
    padding: 3px;
    height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
}
.layout-pane.row {
    margin-left: 0;
    margin-right: 0;
}
.layout-pane .row {
    min-height: 30%;
    margin: 10px;
    background-color: gold;
    border: 1px dotted blue;
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.layout-pane .row .row {
    background-color: white;
}
.layout-pane .col {
    height: calc(100% - 20px);
    margin: 10px;
    background-color: darkgray;
    border: 1px dotted green;
    padding: 3px;
    position: relative;
}
.layout-pane .col > .row {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}
.layout-pane .col .col {
    background-color: greenyellow;
}
.layout-pane .col + .col {
    margin-left: 0;
}
.layout-pane .settings {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 10px;
    width: 10px;
    font-size: 20px;
}

.layout-pane .settings:hover {
    text-decoration: none !important;
}